---


// Carga los archivos Markdown desde el directorio 'data'
const archivosServicios = await Astro.glob('../data/desatascos/*.md');

// Mapea los archivos a un array de objetos con la información necesaria
const servicios = archivosServicios.map(file => ({
  nombre: file.frontmatter.name,
  imagen: file.frontmatter.imagen,
  icono: file.frontmatter.icono,
  url: file.frontmatter.slug
}));

function calcularClaseAdicional(index, total) {
  if (total % 2 !== 0) {
    if (index === total - 1) {
      return 'col-xl-offset-3';
    }
  }
  return '';
}
---

<section class="services-wrapper services-1 section-bg section-padding">
  <div class="container">
    <!-- ... Tu título y otras partes estáticas aquí ... -->
    <div class="row">
        <div class="col-12 col-lg-12">
          <div class="section-title text-center">
            <span>Servicios</span>
            <p>Nuestros Servicios</p>
            <h1>Lo que hacemos</h1>
          </div>
        </div>
      </div>

    <div class="row">
      {servicios.map((servicio, index) => (
        <div class={`col-md-6 col-xl-3 col-12 ${calcularClaseAdicional(index, servicios.length)}`}>
          <div class="single-service-item service-1">
            <div
              class="service-bg bg-cover"
              style={`background-image: url('${servicio.imagen}')`}
            >
            </div>
            <div class="icon">
              <img src={servicio?.icono} alt={servicio?.nombre} />
            </div>
            <h4 style="color:#003a70;">{servicio?.nombre}</h4>
            <a href={`desatascos/${servicio?.url}`}
              ><span>Saber Más</span><i class="fal fa-long-arrow-right"></i></a
            >
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
