---
const { faq1,
  faq2,
  faq3,
  answer1,
  answer2,
  answer3,
  titleFaqs,
  imageFaq,
  altFaq,
  } = Astro.props
---


<section class="faq-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-12">
        <div class="content-block">
          
          <h2>{titleFaqs}</h2>
          <div class="bg-img">
            <img src={imageFaq} alt={altFaq} />
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-12 mt-4 mt-xl-0">
        <div class="faq-content">
          <div class="faq-accordion">
            <div id="accordion" class="accordion">
              <div class="card">
                <div class="card-header" id="faq1">
                  <p class="mb-0 text-capitalize">
                    <a
                      class="collapsed"
                      role="button"
                      data-toggle="collapse"
                      aria-expanded="false"
                      href="#faq-1"
                    >
                      {faq1}
                    </a>
                  </p>
                </div>
                <div id="faq-1" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                   {answer1}
                  </div>
                </div>
              </div>
              <!-- /card -->
              <div class="card">
                <div class="card-header" id="faq2">
                  <p class="mb-0 text-capitalize">
                    <a
                      class="collapsed"
                      role="button"
                      data-toggle="collapse"
                      aria-expanded="false"
                      href="#faq-2"
                      >{faq2}
                    </a>
                  </p>
                </div>
                <div id="faq-2" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                   {answer2}
                  </div>
                </div>
              </div>
              <!-- /card -->
              <div class="card">
                <div class="card-header" id="faq3">
                  <p class="mb-0 text-capitalize">
                    <a
                      class="collapsed"
                      role="button"
                      data-toggle="collapse"
                      aria-expanded="false"
                      href="#faq-3"
                    >
                      {faq3}
                    </a>
                  </p>
                </div>
                <div id="faq-3" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                   {answer3}
                  </div>
                </div>
              </div>
            
              <!-- /card -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
