---


const urlZonas = "/desatascos/en";



const linksServices = await Astro.glob("../data/desatascos/*.md");
const linksDesatascos = linksServices.map((link) => {
  const { bannerTitle, slug } = link.frontmatter;
  return {
    nombre :bannerTitle,
    slug:`/desatascos/${slug}`,
  };
});

const linksPoci = await Astro.glob("../data/poceros/*.md");
const linksPoceros = linksPoci.map((link) => {
  const { bannerTitle, slug } = link.frontmatter;
  return {
    nombre :bannerTitle,
    slug:`/poceros/${slug}` ,
  };
});


const links = [
  {
    nombre: "ZONA CENTRO",
    url: "#",
    submenu: [
      {
        nombre: "MADRID",
        url: `${urlZonas}/madrid`,
      },
    ],
  },
  {
    nombre: "ZONA ESTE",
    url: "#",
    submenu: [
      {
        nombre: "ARGANDA",
        url: `${urlZonas}/arganda-del-rey`,
      },
      {
        nombre: "ALCALÁ DE HENARES",
        url: `${urlZonas}/alcala-de-henares`,
      },
      {
        nombre: "TORREJÓN DE ARDOZ",
        url: `${urlZonas}/torrejon-de-ardoz`,
      },
      {
        nombre: "COSLADA",
        url: `${urlZonas}/coslada`,
      },
      {
        nombre: "SAN FERNANDO DE HENARES",
        url:`${urlZonas}/san-fernando-de-henares`,
      },
    ],
  },
  {
    nombre: "ZONA OESTE",
    url: "#",
    submenu: [
      {
        nombre: "POZUELO",
        url: `${urlZonas}/pozuelo`,
      },
      {
        nombre: "LAS ROZAS",
        url: `${urlZonas}/las-rozas`,
      },
      {
        nombre: "BOADILLA",
        url: `${urlZonas}/boadilla-del-monte`,
      },
      {
        nombre: "MAJADAHONDA",
        url: `${urlZonas}/majadahonda `,
      },
      {
        nombre: "SAN SEBASTIÁN DE LOS REYES",
        url: `${urlZonas}/sanse`,
      },
    ],
  },
  {
    nombre: "ZONA SUR",
    url: "#",
    submenu: [
      {
        nombre: "MÓSTOLES",
        url: `${urlZonas}/mostoles`,
      },
      {
        nombre: "VALDEMORO",
        url: `${urlZonas}valdemoro`,
      },
      {
        nombre: "FUENLABRADA",
        url: `${urlZonas}/fuenlabrada`,
      },
      {
        nombre: "ARANJUEZ",
        url: `${urlZonas}/aranjuez`,
      },
      {
        nombre: "GETAFE",
        url: `${urlZonas}/getafe `,
      },
      {
        nombre: "LEGANÉS",
        url: `${urlZonas}/leganes`,
      },
      {
        nombre: "PARLA",
        url: `${urlZonas}/parla`,
      },
    ],
  },
  {
    nombre: "GUADALAJARA",
    url: "#",
    submenu: [
      {
        nombre: "AZUQUECA DE HENARES",
        url: `${urlZonas}/azuqueca-de-henares`,
      },
      {
        nombre: "GUADALAJARA",
        url: `${urlZonas}/guadalajara`,
      },
    ],
  },
   {
    nombre: "TOLEDO",
    url: "#",
    submenu: [
      {
        nombre: "ILLESCAS",
        url: `${urlZonas}/illescas`,
      },
      {
        nombre: "SESEÑA",
        url: `${urlZonas}/seseña`,
      },
      {
        nombre: "OCAÑA",
        url: `${urlZonas}/ocaña`,
      }, 
      {
        nombre: "TOLEDO",
        url: `${urlZonas}/toledo`,
      }, 
    ],
  },
];



---

<header class="header-wrapper header-1">
  <div class="container">
    <div class="row middle-bar justify-content-between align-items-center">
      <div class="col-xl-3 col-lg-12 col-6 text-lg-center text-xl-left">
        <div class="logo mb-lg-4 mb-xl-0 text-xl-left">
          <a href="/"><img src="/assets/img/logo.png" alt="logo" /></a>
        </div>
      </div>
      <div class="col-xl-9 col-lg-12 d-none d-lg-block">
        <div
          class="header-info-element ml-xl-5 ml-md-4 d-flex justify-content-between align-items-center"
        >
          <div class="single-info-element">
            <div class="icon">
              <i class="fal fa-map-marked-alt"></i>
            </div>
            <div class="text">
              <h5>Domicilio:</h5>
              <span>Calle Lezo 8, 4D <br />28041 Madrid</span>
            </div>
          </div>
          <div class="single-info-element">
            <div class="icon">
              <i class="fal fa-clock"></i>
            </div>
            <div class="text">
              <h5>Horario:</h5>
              <span>24 HORAS</span>
            </div>
          </div>
          <div class="single-info-element">
            <div class="icon">
              <i class="fal fa-envelope"></i>
            </div>
            <div class="text">
              <h5>E-Mail</h5>
              <span>info@pocitendesatascos.es</span>
            </div>
          </div>
          <div class="cta-btn">
            <a href="/contacto" class="theme-btn">PIDE PRESUPUESTO</a>
          </div>
        </div>
      </div>
      <div
        class="col-6 justify-content-end align-items-center d-flex d-lg-none"
      >
        <div class="header-btn d-none-mobile">
          <a href="/contacto" class="theme-btn">PIDE PRESUPUESTO</a>
        </div>

        <div class="mobile-nav-bar ml-15">
          <div class="mobile-nav-wrap">
            <div id="hamburger">
              <i class="fal fa-bars"></i>
            </div>

            <!-- mobile menu - responsive menu  -->
            <div class="mobile-nav">
              <button type="button" class="close-nav">
                <i class="fal fa-times-circle"></i>
              </button>
              <nav class="sidebar-nav">
                <ul class="metismenu" id="mobile-menu">
                  <li><a class="has-arrow" href="/">Inicio</a></li>
                  <li><a href="/quienes-somos">Quiénes Somos</a></li>
                  <li>
                    <a class="has-arrow" href="#">Desatascos</a>
                    <ul class="sub-menu">
                      {
                        linksDesatascos.map((link) => (
                          <li>
                            <a href={link.slug}>{link.nombre}</a>
                          </li>
                        ))
                      }
                    </ul>
                  </li>
                  
                  <li>
                    <a class="has-arrow" href="#">Poceros</a>
                    <ul class="sub-menu">
                      {
                        linksPoceros.map((link) => (
                          <li>
                            <a href={link.slug}>{link.nombre}</a>
                          </li>
                        ))
                      }
                    </ul>
                  </li>
                  <li>
                    <a href="#">Localidades</a>
                    <ul class="sub-menu">
                      {
                        links.map((link) => (
                          <li>
                            <a href={link.url}>{link.nombre}</a>
                            {link.submenu && (
                              <ul class="sub-menu">
                                {link.submenu.map((sublink) => (
                                  <li>
                                    <a href={sublink.url}>{sublink.nombre}</a>
                                  </li>
                                ))}
                              </ul>
                            )}
                          </li>
                        ))
                      }
                    </ul>
                  </li>

                  <li><a href="/contacto">Contacto</a></li>
                </ul>
              </nav>

              <div class="action-bar text-white">
                <div class="single-info-element">
                  <div class="icon">
                    <i class="fal fa-map-marked-alt"></i>
                  </div>
                  <div class="text">
                    <h5>Localizacón::</h5>
                    <span>Calle Lezo 8, 4D<br> 28041,Madrid</span>
                  </div>
                </div>
                <div class="single-info-element">
                  <div class="icon">
                    <i class="fal fa-clock"></i>
                  </div>
                  <div class="text">
                    <h5>Abierto:</h5>
                    <span>24 Horas</span>
                  </div>
                </div>
                <div class="single-info-element">
                  <div class="icon">
                    <i class="fal fa-envelope"></i>
                  </div>
                  <div class="text">
                    <h5>Mail</h5>
                    <span>info@desatascospociten.es</span>
                  </div>
                </div>
                <div class="call-us">
                  <div class="icon text-white">
                    <i class="fal fa-phone-volume"></i>
                  </div>
                  <div class="text">
                    <h5>Llámanos</h5>
                    <span>647 37 67 82</span>
                  </div>
                </div>
                <a href="/contacto" class="theme-btn mt-4"
                  >Solicita Presupuesto<i class="fal fa-arrow-right"></i></a
                >
              </div>
            </div>
          </div>
          <div class="overlay"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-menu-wrapper d-none d-lg-block">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="main-menu">
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/quienes-somos">Quiénes Somos</a></li>
          <li>
            <a href="#">Desatascos</a>
            <ul class="sub-menu">
              {
                linksDesatascos.map((link) => (
                  <li>
                    <a href={link.slug}>{link.nombre}</a>
                  </li>
                ))
              }
            </ul>
          </li>
          <li>
            <a href="#">Poceros</a>
            <ul class="sub-menu">
              {
                linksPoceros.map((item) => (
                  <li>
                    <a href={item.slug}>{item.nombre}</a>
                  </li>
                ))
              }
            </ul>
          </li>
          <li>
            <a href="#">Localidades</a>
            <ul class="sub-menu">
              {
                links.map((link) => (
                  <li>
                    <a href={link.url}>{link.nombre}</a>
                    {link.submenu && (
                      <ul class="sub-menu">
                        {link.submenu.map((sublink) => (
                          <li>
                            <a href={sublink.url}>{sublink.nombre}</a>
                          </li>
                        ))}
                      </ul>
                    )}
                  </li>
                ))
              }
            </ul>
          </li>

          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </div>
      <div class="call-us-cta">
        <div class="call-us text-white">
          <div class="icon">
            <i class="fal fa-phone-volume"></i>
          </div>
          <div class="text">
            <h5>Llámanos 24 horas</h5>
            <a href="tel://+34647376782"><span>647 37 67 82</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
